- **문자열 사용**
   - print("asdfd") 
   - print('asfdfs') 
   - print(12424)

In [1]:
print("hello world !")

hello world !

In [6]:
print ('hello world !')

hello world !

In [12]:
print (1 * 3)

3

In [16]:
print ( (1 + 3)*2)

8

In [26]:
# 특이한 연산 부호
print ( 3 ** 2 )
print ( 3 ** 3 )
print ( 3 ** 4 )
# 지수 승을 의미한다.

9
27
81

In [30]:
# 특이한 연산 부호
print ( 100 // 2 )
print ( 100 // 3 )
print ( 100 // 4 )
# 몫을 의미한다.

50
33
25

- **변수의 사용**
  - 타입
    - 문자열(string)
    - 숫자-정수형(intger)
    - 숫자-부동소숫점(float)
    - boolean 형

In [49]:
number = 1
name = "laon"
age = 6
number1 = 10
number2 = 5

In [51]:
print (number)
print (name)
print (name , age)

1
laon
laon 6

In [61]:
# 변수를 통한 계산
print(number1 + number2)
print (number1 * number2)
print (number1 ** number2)
print (number1 // number2)
print (number1 % number2)

15
50
100000
2
0

In [63]:
#boolean 출력
print (1 < 7)
print ( 1 == number2)
print (number1 != number2)

True
False
True

### 문제
반지름(r=10)을 선언한 뒤 이를 이용하여 원의 지름 , 둘레(r * 2 * pi) , 넓이 (r의 2승 * pi)를 각각 출력하는 파이썬 파일을 만들자
- r = 10
- pi = 3.1415

In [69]:
r = 10
pi = 3.1415

diameter = r * 2
circumference = diameter * pi
area = (r ** 2) * pi

print("지름 : ",diameter)
print("둘레 : ",circumference)
print("넓이 : ",area)

지름 :  20
둘레 :  62.830000000000005
넓이 :  314.15000000000003

In [105]:
name = input()

 신의종

In [107]:
name = input("What is your name ?")

What is your name ? ㅇㄹㄴㄹ

In [83]:
#notebook의 기능중 하나인 변수를 출력시키는 기능.
name1 = "banana"
name2 = "apple"
name1
name2

'apple'

In [109]:
#입출력 동시 적용
name = input("What is your name ?")
print ("Hi ! ",name );

What is your name ? 신의종

Hi !  신의종

In [87]:
#입력을 통해 변수에 대입하면 , 해당 값은 문자로 받아들임
age = input()

 11

In [89]:
age

'11'

In [99]:
# 타입 캐스팅이 필요한 경우
num1 = input()
num2 = input()
print (int(num1) * int(num2))
# TypeError: can't multiply sequence by non-int of type 'str'

 1
 2

2

In [93]:
float(3)

3.0

In [95]:
int(3.6)
# 정수로 변환하기 위에 뒤에 숫자를 버림

3

In [97]:
str(1)

'1'

In [101]:
print(type(num1))

<class 'str'>