- List
  - 여러가지 관계가 있는 데이터를 하나의 변수로 다루는 방법
  - [  ] 안에 데이터를 넣어주면 된다.

In [48]:
location = ['서울시','용인시','제주시']
print(location)

['서울시', '용인시', '제주시']

In [50]:
print(location[0])

서울시

In [52]:
print(type(location[0]))

<class 'str'>

In [54]:
# 리스트 추가 .append 메서드

location.append("부산시")
location.append("대전시")
print(location)
#뒤에 차례대로 붙는 것을 알 수 있음

#리스트 추가 insert 메서드

#원하는 인덱스 자리에 추가가 가능
location.insert(1, '성남시')
print(location)

['서울시', '용인시', '제주시', '부산시', '대전시']
['서울시', '성남시', '용인시', '제주시', '부산시', '대전시']

In [56]:
print(location[0:3])

['서울시', '성남시', '용인시']

In [58]:
# 리스트 삭제 .remove 메서드
location.remove('용인시')
print(location)

['서울시', '성남시', '제주시', '부산시', '대전시']

In [60]:
# 리스트 삭제 del 명령어
del location[2]
print(location)

['서울시', '성남시', '부산시', '대전시']

In [64]:
#리스트 데이터 타입은 자유롭게 들어갈 수 있다

new_location = ['서울시',1,True,3.5]
print(new_location)

['서울시', 1, True, 3.5]

In [66]:
#small Q
# 처음 리스트 데이터 변수 데이터
# lang = ["java","c","c++"]
# 리스트 함수를 활용하여 이렇게 만들어 보기
# lang = ["java","c","c++","golang"]

lang = ["java","c","c++"]
lang.append("golang")
print(lang)

['java', 'c', 'c++', 'golang']

- 리스트의 정렬
  - .sort() : 순행 정렬
  - .reverse() : 역순 정렬

In [74]:
num1 = [1,5,2,3]
num1.sort()
print(num1)
# 리스트 원본이 변경

[1, 2, 3, 5]

In [78]:
num1.reverse()
print(num1)
# 리스트 원본이 변경

[1, 2, 3, 5]

In [86]:
# 문자열의 .split() 메서드

str = "python is easy"
str.split()
print(str)
print(str.split())
#문자열의 원본이 바뀌는 것은 아니지만 , 배열화 할 수 있는 방법이다.

python is easy
['python', 'is', 'easy']