In [1]:
# 데이터  
# 선언 , 초기화 : 가능
# 추가 , 수정 , 삭제 : 불가
# 출력 : 가능 : 변수명[인덱스번호]

#선언
# 변수명 = (데이터들)
tuple1 = ()

In [3]:
#출력
print(type(tuple1))

<class 'tuple'>

In [11]:
#선언 + 초기화
tuple2 = (1,2,3)

In [13]:
#출력
print(tuple2)
print(tuple2[0])

(1, 2, 3)
1

In [15]:
def mul_return(a):
		b = a + 1
		return a,b # 지역변수 b를 활용하고 있음.

In [17]:
mul_return(1) 
# tuple 변수인것처럼 결과값을 다루기 때문에 이러한 결과값이 가능하다.

(1, 2)

In [19]:
tuple3 = (1,2,3)
tuple4 = (4,5,6)
print(tuple3+tuple4)

(1, 2, 3, 4, 5, 6)

In [21]:
print(tuple4*3) # 실사용은 드물다.

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [23]:
x = 1
y = 2

# 치환하는 방법으로 많이 활용
#일반적인 언어에서 다른 임시변수를 활용하여 치환.
#파이썬은 튜플을 활용

In [25]:
x, y = y , x # 프로그램이 튜플이라고 생각하고 대입하게 됨.

In [27]:
print(x)

2

In [29]:
print(y)

1

In [35]:
# 함수를 통한 값을 할당하여 변수에 담아준다.

def a_and_b(x,y):
    a = x//y # 몫
    b = x%y # 나머지
    return a,b #(a,b) 라고 표기해도 상관 없음.

a , b = a_and_b(10,3)
print("a = %d " %(a)) 
print("b = %d " %(b))

a = 3
b = 1

In [37]:
# 리스트와 튜플의 변환
tuple3 = (1,2,3)
print(type(tuple3))

<class 'tuple'>

In [39]:
list(tuple3)

[1, 2, 3]

In [41]:
print(type(tuple3))

<class 'tuple'>

In [45]:
data_list = list(tuple3)

print(type(data_list))

<class 'list'>

In [49]:
data_tuple = tuple(data_list)

print(type(data_tuple))

<class 'tuple'>