<div class="alert alert-block" style="border: 2px solid #1976D2;background-color:#E3F2FD;padding:5px;font-size:0.9em;">
본 자료는 저작권법 제25조 2항에 의해 보호를 받습니다. 본 자료를 외부에 공개하지 말아주세요.<br>
본 강의만 잘 정리하면, 데이터 분석, 데이터 과학, 풀스택(백엔드, 프론트엔드) 개발 모두 가능합니다!<br>
</div>

<div class="alert alert-block" style="border: 2px solid #1976D2;background-color:#E3F2FD;padding:5px;font-size:0.9em;">
제 유투브 채널로 혼자서도 데이터 전과정, 풀스택 전과정을 익힐 수 있는 로드맵과 관련 커리어를  설명한 영상을 만들었는데요<br>
꼭 한번 보시면 학습하시는데 큰 그림을 이해하실 수 있으실꺼예요. (괜찮으시면 구독과 좋아요도 부탁드립니다. ㅎ)<br>
<b>- 데이터, AI 커리어와 데이터 전과정 학습 방법 완벽 가이드: <a href="https://youtu.be/vsoAyh4D-zw">https://youtu.be/vsoAyh4D-zw</a><br>
- 1인 창업도 가능한 가장 빠른 최신 풀스택 공부순서: <a href="https://youtu.be/mTouChThxzA">https://youtu.be/mTouChThxzA</a></b><br>
</div>

## 3. 문제를 풀며 빠르게 익숙해지는 파이썬 기본 프로그래밍3

### Exercise 31. 반복문
* 1 ~ 10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하세요.

In [5]:
result = 0;
for i in range(1,11):
    result = result + i
print("누적합 : %d" %(result))

누적합 : 55

### Exercise 32. 반복문
* 사용자로부터 2 ~ 9 사이의 숫자를 입력 받은 후, 해당 숫자에 대한 구구단을 출력하세요.

In [7]:
user = int(input("2~9사이의 수를 기입해주세요"))

for i in range(1,10):
    print("%d X %d = %d" % (user,i,user*i))

2~9사이의 수를 기입해주세요 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

### Exercise 33.  반복문과 문자열 다루기 (split)
* 사용자로부터 , 로 구분된 여러 이름을 입력받아서, 한 줄에 하나씩 이름을 출력하세요<br>
  - 사용자 입력: Dave,David,Andy,Arthor
  - 출력 예:  <br>
    Dave <br>
    David <br>
    Andy <br>
    Arthor <br>

In [9]:
namelist = input(",로 구분지어 여러 이름을 입력하세요.")
for name in namelist.split(","):
    print(name)

,로 구분지어 여러 이름을 입력하세요. a,bd,ds

a
bd
ds

### Exercise 34.  반복문과 문자열 다루기 (split)
* 사용자로부터 [이름1],[이름2],[이름3] 과 같은 형식으로 데이터를 입력받아서, 한 줄에 하나씩 이름을 출력하세요<br>
  - 사용자 입력: [Dave],[David],[Andy],[Arthor]
  - 출력 예:  <br>
    Dave <br>
    David <br>
    Andy <br>
    Arthor <br>

In [13]:
namelist = input("[]로 구분지어 여러 이름을 입력하세요.")
for name in namelist.split(","):
    print(name[1:-1])

[]로 구분지어 여러 이름을 입력하세요. [Dave],[David],[Andy],[Arthor]

Dave
David
Andy
Arthor

### Exercise 35. 반복문과 조건문
* 1부터 30까지의 숫자 중 3의 배수만 출력하세요.

In [15]:
for i in range(1,31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

### Exercise 36. 반복문 (while)
* 1부터 100까지 숫자를 모두 더한 값을 출력하세요.
  - 단 while 구문을 사용해서 작성하세요.

In [21]:
num = 1
result = 0
while num<=100:
    result = result + num
    num = num+1
print("결과값 : %d" % (result))

결과값 : 5050

### Exercise 37. 반복문 (while)
* 사용자로부터 4자리의 숫자로 구성된 데이터를 입력받아서 
  + 비밀번호와 같으면 '비밀번호가 맞습니다.'를 출력하고 종료하세요. 
  + 비밀번호와 다르면 '비밀번호가 틀렸습니다.'를 출력하고 다시 사용자로부터 데이터를 입력받으세요.
    - 비밀번호는 4312 입니다.

In [27]:
user = ''

while user != 4312 :
    user = int(input("4자리 비밀번호를 입력하세요"))
    if user != 4312:
        print("비밀번호가 틀렸습니다.")
        
print( "비밀번호가 맞습니다.")

4자리 비밀번호를 입력하세요 1234

비밀번호가 틀렸습니다.

4자리 비밀번호를 입력하세요 1253

비밀번호가 틀렸습니다.

4자리 비밀번호를 입력하세요 4312

비밀번호가 맞습니다.

### Exercise 38. 데이터 구조와 반복문 (리스트)
* 다음 리스트 변수에서 음수 데이터를 삭제하고, 양수만 가진 리스트 변수로 만들고, 해당 변수를 출력하세요.

```python
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
```

In [31]:
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
plus_list  = list()

for i in num_list :
    if i >=0 :
        plus_list.append(i)

print(plus_list)

[0, 31, 22, 33]

### Exercise 39.  데이터 구조와 반복문 (리스트)
* 다음 리스트에 있는 데이터의 길이를 한 라인에 하나씩 출력하세요.

```python
list_data = ["fun-coding", "Dave", "Linux", "Python", "javascript", "front-end", "back-end", "dataengineering"]
```

In [37]:
list_data = ["fun-coding", "Dave", "Linux", "Python", "javascript", "front-end", "back-end", "dataengineering"]

for i in list_data :
    print(len(i))

10
4
5
6
10
9
8
15

### Exercise 40. 데이터 구조와 반복문 (리스트)
* 다음 리스트에 있는 숫자를 역 방향으로 출력하세요.
  - 단, 리스트에 있는 숫자들은 한 라인에 하나씩 출력하세요.
```python
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
* 실행 예:<br>
10 <br>
9 <br>
8 <br>
7 <br>
6 <br>
5 <br>
4 <br>
3 <br>
2 <br>
1

In [39]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
data.reverse()
for d in data :
    print(d)

10
9
8
7
6
5
4
3
2
1

### Exercise 41. 데이터 구조 (리스트), 반복문, 문자열 다루기
* 다음과 같이 파일 이름(확장자 포함) 저장하고 있는 리스트가 있을 때 확장자를 제거하고 파일 이름만 출력하세요.

```python
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']
```

In [43]:
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']
for f in filelist :
    print(f.replace(".docx",""))

exercise01
exercise02
exercise03
exercise04
exercise05

### Exercise 42. 데이터 구조 (리스트), 반복문, 조건문, 문자열 다루기
* 파일 이름이 다음과 같은 리스트에 저장되어 있을 때 확장자가 .txt 인 파일에 대한 리스트를 출력하라

```python
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']
```

In [47]:
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']

for f in filelist :
    if f.split(".")[1] =="txt":
        print(f)

exercise03.txt

### Exercise 43. 문자열 다루기와 조건문
* prices 변수에 100 ~ 999 달러 까지 입력될 때, 해당 값을 원 화로 바꿔서 계산하세요.

```python
prices = '100 달러'
```

* 환율은 다음과 같음
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
</tbody>
</table>

출력: <br>
111200 원

In [57]:
price =input("100~999달러사이의 \"00 달러\" 입력")

print(int(price.split()[0])*1112,"원")

100~999달러사이의 "00 달러" 입력 100

111200 원

### Exercise 44. 문자열 다루기와 조건문
* 사용자로부터 달러 또는 위안 금액을 입력받은 후 이를 원으로 바꿔서 계산하세요.
  - 사용자는 100 ~ 999 달러, 100 ~ 999 위안 까지 입력 가능하고, 각 금액과 통화명 사이에 공백을 넣어 입력하기로 합니다.
  - 각 통화별 환율은 다음과 같습니다.   
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
<tr>
<td>위안</td>
<td>171</td>
</tr>
</tbody>
</table>


출력: <br>
111200 원

In [63]:
price =input("100~999사이의 \"00 달러\" 또는 \"00 위안\"입력")

if price.split()[1] =="달러":
    print(int(price.split()[0])*1112,"원")
else :
    print(int(price.split()[0])*171,"원")

100~999사이의 "00 달러" 또는 "00 위안"입력 100 위안

17100 원

### Exercise 45. 문자열 다루기, 조건문, 데이터 구조 (dictionary)
* 다음 통화별 환율을 통화단위와 원화 환율을 가진 딕셔너리로 만들고 사용자로부터 달러, 엔, 또는 위안 금액을 입력받은 후 이를 원으로 바꿔서 계산하세요.
  - 사용자는 100 ~ 999 달러, 위안, 또는 엔 과 같이 금액과 통화명 사이에 공백을 넣어 입력하기로 합니다.
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
<tr>
<td>위안</td>
<td>171</td>
</tr>
<tr>
<td>엔</td>
<td>1010</td>
</tr>
</tbody>
</table>

100 달러
111200 원

### Exercise 46. 이중 반복문
* 구구단을 2단부터 9단까지 다음과 같이 출력하세요
  - 출력 예
<pre>
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
.
.
.
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
</pre>

In [67]:
for i in range(2,10) :
    for j in range(1,10) :
        print("%d X %d = %d" % (i , j , i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

### Exercise 47. 이중 반복문과 조건문
* 구구단을 2단부터 9단까지 출력하되, 계산 값이 짝수인 경우에만 출력하세요
  - 예: 3 X 3 = 9 에서 9는 홀수이므로 출력하지 않는다.
  - 예: 2 X 4 = 8 에서 8은 짝수이므로 출력한다.
  - 최종 출력 예
<pre>
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72
</pre>

In [69]:
for i in range(2,10) :
    for j in range(1,10) :
        if i*j % 2 == 0:
            print("%d X %d = %d" % (i , j , i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72

### Exercise 48. 이중 반복문과 데이터 구조 (리스트)
* 아파트 동호수를 다음과 같은 두 리스트 변수를 활용해서 출력하세요.
  - 단, 각 동과 동 사이에는 구분이 되도록 한 라인씩 띄워서 출력하세요

<pre>
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]
</pre>

  - 출력 예:
<pre>
6209동 101호
6209동 102호
6209동 103호
6209동 104호
</pre>
<pre>
6208동 101호
6208동 102호
6208동 103호
6208동 104호
</pre>
<pre>
6207동 101호
6207동 102호
6207동 103호
6207동 104호
</pre>

In [71]:
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

for d in dongs :
    for h in hos :
        print("%s %s" % (d , h))
    print("\n")

6209동 101호
6209동 102호
6209동 103호
6209동 104호


6208동 101호
6208동 102호
6208동 103호
6208동 104호


6207동 101호
6207동 102호
6207동 103호
6207동 104호

<div class="alert alert-block" style="border: 2px solid #1976D2;background-color:#E3F2FD;padding:5px;font-size:0.9em;">
본 자료는 저작권법 제25조 2항에 의해 보호를 받습니다. 본 자료를 외부에 공개하지 말아주세요.<br>
본 강의만 잘 정리하면, 데이터 분석, 데이터 과학, 풀스택(백엔드, 프론트엔드) 개발 모두 가능합니다!<br>
<b><a href="https://school.fun-coding.org/">잔재미코딩</a> 에서 본 강의 기반 최적화된 로드맵도 확인하실 수 있습니다</b></div>