# 데이터 구조 : 집합 또는 set

* 선언 : 변수 = set() ,
  - 두개 이상 : 변수 = { , , , }
  - 하나 : 변수 = ( )
* 읽기 :
* 추가 :
* 삭제 :
* 수정 :

In [11]:
# 선언
d_list = list()
d_tuple = tuple()
d_dict = dict()
d_set = set()

In [31]:
print(type(d_set))

<class 'str'>

In [17]:
d_set = {'apple','banana','melon'}

In [37]:
d_set

'banana'

In [23]:
d_set = ('banana')

In [29]:
print(type(d_set))

<class 'str'>

In [41]:
d_set = {'apple','banana','melon'}
for data in d_set :
    print(data)

melon
apple
banana

In [43]:
d_set = {'apple','banana','melon'}
'lemon' in d_set
# if 문 처럼 set 집합안에 있는지 없는지 boolean 으로 확인 할 수 있음

False

In [45]:
'banana' in d_set

True

In [49]:
# 집합연산
data1 = {'apple','samsung','lg'} # 휴대폰 생산 업체
data2 = {'samsung', 'lg', 'xaiomi'} # tv 생산 업체

print(data1 & data2) #교집합

{'lg', 'samsung'}

In [51]:
print(data1 | data2) # 합집합

{'apple', 'xaiomi', 'lg', 'samsung'}

In [53]:
print(data1 - data2) # 차집합 : 1의 데이터에서 2의 데이터를 제외한.

{'apple'}

In [55]:
print(data1 ^ data2) # 합집합 - 교집합

{'apple', 'xaiomi'}

In [57]:
# 활용 예시
d_set = {'apple','banana','melon','apple','banana','melon','apple','banana','melon'}
print(d_set)

{'melon', 'apple', 'banana'}